@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.container {
  overflow: hidden;

  @media (min-width: breakpoint.$desktop) {
    background: white;
    border: 1px solid color.$gray-200;
    box-sizing: border-box;
    box-shadow:
      0 4px 8px -2px rgb(16 24 40 / 10%),
      0 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: space.$s2;
  }
}

.table {
  display: flex;
  flex-direction: column;
  gap: space.$s4;

  @media (min-width: breakpoint.$desktop) {
    width: 100%;
    display: table;
  }
}

.headerRow {
  display: none;

  @media (min-width: breakpoint.$desktop) {
    display: table-header-group;
    outline: 1px solid color.$gray-200;
    height: space.$s11;
  }
}

.headerCell {
  padding: space.$s3 space.$s6;
  color: color.$gray-500;
  font: font.$text-xs-medium;

  @media (min-width: breakpoint.$desktop) {
    display: table-cell;
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space.$s4 space.$s6;
  border-top: 1px solid color.$gray-200;
}

.paginationButton {
  height: 38px;
  padding: space.$s0 space.$s4;
  background: white;
  border: 1px solid color.$gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;
}

.paginationButton:not(:first-of-type) {
  margin-left: space.$s3;
}

.pageInfo {
  color: color.$gray-700;
  font: font.$text-sm-regular;
}

.pageNumber {
  font: font.$text-sm-medium;
}
