@use "@styles/color";
@use "@styles/font";

.errorContainer {
  background-color: color.$error-25;
  border: 1px solid color.$error-300;
  border-radius: 8px;
  width: 100%;
  margin-top: 32px;
}

.errorContent {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 20px;
  padding: 16px;
}

.errorText {
  color: color.$error-700;
  font: font.$text-sm-semibold;
}

.errorButtonContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
}

.errorButton {
  padding: 0;
  border: none;
  background-color: color.$error-25;
}
