@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";

// Header styling
.header {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: white;
  text-align: center;

  @media (min-width: breakpoint.$desktop) {
    height: space.$s20;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  @media (min-width: breakpoint.$desktop) {
    width: calc(1280px - 2 * space.$s8);
    gap: space.$s10;
  }
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: space.$s4;

  @media (min-width: breakpoint.$desktop) {
    padding: space.$s6 0;
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: space.$s8;
  position: fixed;
  top: 0;
  left: calc(-50% - space.$s2 - 1px);
  width: 50%;
  height: 100%;
  margin-top: 4.5rem;
  padding-top: space.$s5;
  padding-left: space.$s2;
  background-color: color.$gray-50;
  border: 1px solid color.$gray-300;
  border-radius: 0 space.$s8 0 0;
  transition: left 0.3s ease;

  &.show {
    left: 0;
    visibility: visible;
  }

  &.hide {
    visibility: hidden;
  }

  @media (min-width: breakpoint.$desktop) {
    flex: 1;
    flex-direction: row;
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    align-items: center;
    background-color: white;
    gap: space.$s8;
    list-style: none;
    border: none;
    transition: none;
  }
}

.navLink {
  text-decoration: none;
  font: font.$text-md-semibold;
  color: color.$gray-500;

  @media (min-width: breakpoint.$desktop) {
    font: font.$text-md-medium;
  }
}

.buttonContainer {
  padding-right: space.$s3;

  @media (min-width: breakpoint.$desktop) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
}

.dashboardButton {
  padding: 1.375rem 0;
}

.menuIcon {
  padding: space.$s2;
}

.contactButton {
  position: absolute;
  bottom: space.$s10;
  right: space.$s10;
  padding: space.$s4;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}

.remove {
  display: none;
}

.hidden {
  visibility: hidden;
}

.main {
  width: 100%;
}

// Hero section styling
.heroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: color.$gray-50;
}

.heroContentContainer {
  padding: 64px 16px;
  gap: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: breakpoint.$desktop) {
    padding: 96px 0;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titleText {
  font: font.$display-md-semibold;
  color: color.$gray-900;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: breakpoint.$desktop) {
    font: font.$display-xl-semibold;
  }
}

.subtitleText {
  max-width: 648px;
  font: font.$text-lg-regular;
  color: color.$gray-500;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    font: font.$text-xl-regular;
  }
}

.heroImg {
  width: 343px;
  height: 202px;

  @media (min-width: breakpoint.$desktop) {
    width: 753.676px;
    height: 445.894px;
  }
}
