@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.button {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0.6rem 1rem;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.sm {
    padding: space.$s2 0.875rem;
    height: space.$s8;
    font: font.$text-sm-medium;
  }

  &.md {
    padding: 0.625rem space.$s4;
    height: space.$s10;
    font: font.$text-sm-medium;
  }

  &.lg {
    padding: 0.625rem 1.125rem;
    height: space.$s11;
    font: font.$text-md-medium;
  }

  &.xl {
    padding: space.$s3 space.$s5;
    height: space.$s12;
    font: font.$text-md-medium;
  }

  // Implemented to retain li styling for the "Collapse" navigation button
  &.default {
    background-color: none;
    outline: none;
    border: none;
    color: color.$gray-100;
    padding: 0;
    margin: 0;
  }

  &.primary {
    background-color: color.$primary-600;
    border-color: color.$primary-600;
    color: #fff;
  }

  &.primary:hover {
    background-color: color.$primary-700;
    color: #fff;
  }

  &.primary:focus {
    background-color: color.$primary-600;
    border-color: color.$primary-600;
    color: #fff;
    outline: 0.3rem solid color.$primary-100;
  }

  &.primary:disabled {
    background-color: color.$primary-200;
    border-color: color.$primary-200;
    color: #fff;
  }

  &.secondary {
    background-color: color.$primary-50;
    border-color: color.$primary-50;
    color: color.$primary-700;
  }

  &.secondary:hover {
    background-color: color.$primary-100;
    border-color: color.$primary-100;
    color: color.$primary-700;
  }

  &.secondary:focus {
    background-color: color.$primary-50;
    color: color.$primary-700;
    outline: 0.3rem solid color.$primary-100;
  }

  &.secondary:disabled {
    background-color: color.$primary-25;
    color: color.$primary-300;
  }

  &.gray {
    background-color: #fff;
    border-color: color.$gray-300;
    color: color.$gray-700;
  }

  &.gray:hover {
    background-color: color.$gray-50;
    color: color.$gray-800;
  }

  &.gray:focus {
    background-color: #fff;
    color: color.$gray-700;
    outline: 0.3rem solid color.$gray-300;
  }

  &.gray:disabled {
    background-color: #fff;
    border-color: color.$gray-200;
    color: color.$gray-300;
  }

  &.empty {
    background-color: none;
    border-color: transparent;
    color: color.$primary-700;
  }

  &.empty:hover {
    background-color: color.$primary-50;
    color: color.$primary-700;
  }

  &.empty:focus {
    background-color: none;
    color: color.$primary-700;
  }

  &.empty:disabled {
    background-color: none;
    color: color.$gray-300;
  }

  &.emptyGray {
    background-color: none;
    border-color: transparent;
    color: color.$gray-500;
  }

  &.emptyGray:hover {
    background-color: color.$gray-50;
    color: color.$gray-600;
  }

  &.emptyGray:focus {
    background-color: none;
    color: color.$gray-500;
  }

  &.emptyGray:disabled {
    background-color: none;
    color: color.$gray-300;
  }

  &.error {
    background-color: color.$error-600;
    border-color: color.$error-600;
    color: #fff;
  }

  &.error:hover {
    background-color: color.$error-700;
    border-color: color.$error-700;
    color: #fff;
  }

  &.error:focus {
    background-color: color.$error-600;
    border-color: color.$error-600;
    outline: 0.3rem solid color.$error-100;
    color: #fff;
  }

  &.error:disabled {
    background-color: color.$error-200;
    border-color: color.$error-200;
    color: #fff;
  }
}
